    p {
      font-family: Arial, serif;
      margin-bottom: 0;
      margin-top: 0;
    }
    .header {
      font-weight: bold;
      margin-bottom: 8px;
    }
    .header-text {
      font-weight: normal;
      color: #5d6570;
    }
    .dev-text {
      width: 500px;
    }
    .content {
      margin-top: 25px;
    }
    .comment {
      color: #00bbff;
    }